:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg: #2f303a;
  --accent-color: #2196f3;
  --dark-bcg-text: #ffffff;
  --font-family-text: Roboto;
  --font-size-text: 14px;
}

/*General*/

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-title-color);

  font-family: var(--font-family-text), sans-serif;
  font-size: var(--font-size-text);
  letter-spacing: 0.03em;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.list {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link,
.logo-link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  padding: 6px 24px;
  border-radius: 4px;
  border: none;

  color: inherit;
  background: var(--secondary-bcg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--dark-bcg-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.logo-web,
.logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-link {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Header*/
.header-page {
  border-bottom: 1px solid #ececec;
}

.main-nav .logo-link {
  margin-right: 93px;
}

.main-nav .logo-web {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.nav .link,
.contact .link {
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav {
  display: flex;
  align-items: center;
}

.contact {
  color: var(--primary-text-color);
  margin-left: auto;
}

.nav,
.contact {
  display: flex;
}

.nav .menu-item:not(:last-child) {
  margin-right: 50px;
}
.contact .menu-item:not(:last-child) {
  margin-right: 50px;
}

.adress-item {
  display: flex;
  align-items: center;
}

.contact-icon {
  align-items: center;
  margin-right: 10px;
  stroke: currentColor;
}

/*inex.html*/

/*section hero*/
.hero {
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bcg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
}

.hero-title {
  margin-bottom: 40px;
  color: var(--dark-bcg-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  background-color: var(--accent-color);
  color: var(--dark-bcg-text);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/*section features*/

.features-item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-size: var(--font-size-text);
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  color: var(--primary-text-color);
  line-height: 1.71;
}

/*section works, section team*/

.work {
  padding-bottom: 94px;
}

.work-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.team {
  background-color: var(--secondary-bcg-color);
}

.team-item {
  flex-basis: calc((100% - 30px * 4) / 4);
  padding-bottom: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: var(--primary-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-photo {
  margin-bottom: 30px;
}

.team-card {
  padding-left: 15px;
  padding-right: 15px;
}

.team-name,
.team-position {
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team-position {
  color: var(--primary-text-color);
}

/*footer*/

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bcg);
}

.contacts .logo-link {
  margin-bottom: 20px;
}

.contacts .logo-web {
  color: var(--accent-color);
}
.contacts .logo-studio {
  color: var(--dark-bcg-text);
}

.address {
  font-style: inherit;
}

.list-address {
  display: block;
}

.list-address:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map,
.footer-contact {
  line-height: 1.71;
}
.footer-map {
  color: var(--dark-bcg-text);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

/*portfolio.html*/

/*main*/

/*buttons*/

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

/*projects*/

.project-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-card {
  padding: 24px 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.project-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
